.container {
  width: 99vw;
  height: 56vh;
  margin: 0;
  padding: 0;
  border-width: 0px 5px 5px 5px;
  border-style: solid;
  border-color: #a17c6b;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card {
  width: 250px;
  height: 250px;
  border: 7px solid;
  border-color: #a17c6b;
  border-radius: 10px;
  text-align: center;
  color: #5b7b7a;
}

button {
  background-color: #ceb5a7;
  color: white;
  border-color: white;
  border-radius: 10px;
  font-size: large;
}
