<div class="container">
    <div class="title">
        <h1>Rabbits</h1>
        <p>Rabbits are small mammals with fluffy, short tails, whiskers and distinctive long ears. There 29 species around the world, according to <a href href="https://www.pbs.org/wnet/nature/blog/rabbit-fact-sheet/" target="_blank">Nature by PBS</a> and, while they live in many different environments, they have many things in common.</p>
        <a href="https://www.livescience.com/28162-rabbits.html">
            <button>Read more</button>
        </a>
    </div>
    <img src="https://www.petplace.com/static/709867e79d54aa17f3afacacf0b4ddc3/ac7fd/shutterstock_329739632.png">
</div>
