.container {
  background-color: #ceb5a7;
  color: white;
  width: 99vw;
  height: 40vh;
  margin: 0;
  padding: 0;
  border: 5px solid #a17c6b;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

img {
  height: 80%;
  border: 2px solid white;
  border-radius: 15px;
}

.title {
  width: 500px;
  font-size: large;
}

button {
  background-color: #5b7b7a;
  color: white;
  border-color: white;
  border-radius: 10px;
  font-size: large;
}
